<!DOCTYPE html>
<html>
<head>
    <title>E-Challan Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>E-Challan Management System</header>

<div class="nav">
    <a href="/">Dashboard</a>
    <a href="/generate">Generate Challan</a>
    <a href="/viewall">View All</a>
    <a href="/search">Search</a>
</div>

<div class="card">
    <h3>Total Challans: {{ total }}</h3>
    <h3>Total Fines: ₹{{ fines }}</h3>
    <h3>Paid: {{ paid }}</h3>
</div>

<div class="card">
    <h3>Latest Challans</h3>
    <table>
        {% for c in challans %}
        <tr>
            <td>ID: {{c[0]}}</td>
            <td>{{c[1]}}</td>
            <td>₹{{c[3]}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>






