<!DOCTYPE html>
<html>
<head>
    <title>Search Challan</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>Search Challan</header>

<div class="nav">
    <a href="/">Dashboard</a>
    <a href="/generate">Generate</a>
    <a href="/viewall">View All</a>
</div>

<div class="card">
    <form method="POST">
        <input name="query" placeholder="Search ID / Name / Vehicle">
        <button>Search</button>
    </form>
</div>

{% if challans %}
<div class="card">
    <table>
        {% for c in challans %}
        <tr>
            <td>{{c[0]}}</td>
            <td>{{c[1]}}</td>
            <td>{{c[2]}}</td>
            <td>₹{{c[3]}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

</body>
</html>
