<!DOCTYPE html>
<html>
<head>
    <title>All Challans</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>All Challans</header>

<div class="nav">
    <a href="/">Dashboard</a>
    <a href="/generate">Generate</a>
    <a href="/search">Search</a>
</div>

<div class="card">
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Vehicle</th>
            <th>Fine</th>
            <th>Status</th>
        </tr>
        {% for c in challans %}
        <tr>
            <td>{{c[0]}}</td>
            <td>{{c[1]}}</td>
            <td>{{c[2]}}</td>
            <td>₹{{c[3]}}</td>
            <td>
                {% if c[6] == 1 %}
                    <span class="paid">PAID</span>
                {% else %}
                    <a href="/markpaid/{{c[0]}}" class="unpaid">Mark Paid</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
